body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-bg {
  /* background-color: #111; */
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  z-index: -2;
}
.cover {
  position: absolute;
  top: 0px;
  height: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.cover1 {
  background-color: #555;
}

.cover2 {
  background-color: #666;
}
.cover3 {
  background-color: #777;
}

.cover h1 {
  font-family: monospace;
  text-wrap: nowrap;
}

.cover1 h1 {
  font-size: 10em;
  margin: 0.2em;
  color: #333;
}
.cover2 h1 {
  font-size: 10em;
  margin: 0.3em;
  color: #444;
}
.cover3 h1 {
  font-size: 5em;
  margin: 0.3em;
  color: #555;
}

.notification {
  color: #111;
  position: absolute;
  font-family: monospace;
  top: 1em;
  font-size: 1.3em;
  transition: 1s;
  left: 50%;
  transform: translate(-50%, 0);
  /* display: flex;
  justify-content: center; */
  background-color: #22222222;
  padding: 0.5em;
  border-radius: 0.5em;
}

.mainapp {
  font-family: monospace;
  width: 100%;
  color: #ccc;
  top: 0px;
  bottom: 0px;
  position: absolute;
  background-color: #111;
  z-index: -1;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;

  /* justify-content: space-around; */
}
.navbar div {
  font-family: monospace;
  text-decoration: none;
  font-size: 1.2em;
  color: #999;
  padding: 0.5em;
  background-color: #fff1;
  padding-left: 2em;
  padding-right: 2em;
  transition: 0.3s;
  /* margin: 0.3em; */
  width: 25%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.navbar div:hover {
  cursor: pointer;
  background-color: #fff2;
}

*::selection {
  background-color: #333;
}

.nav-page {
  padding: 2em;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.about-me {
  line-height: 2em;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff1;
  height: auto;
  padding: 4em;
  margin: 2em;
  border-radius: 5em;
  line-height: 2em;
  text-align: center;
}

.game h2 {
  font-size: 3em;
  line-height: 1em;
}

.game img {
  width: 70%;
  margin-top: 3em;
  margin-bottom: 1em;
}
.game .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
}
.game label {
  margin-top: 2em;
}
.game .buttons a {
  background-color: #fff2;
  width: 30%;
  padding: 0.6em;
  border-radius: 1em;
  text-decoration: none;
  color: #999;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  background: #333;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 0.5em;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

*::-webkit-scrollbar-button {
  display: none;
}
